@import "base/layout.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}